<!DOCTYPE html>
<html>
    <head>
        <title>Ernest's private gallery</title>
        <link rel="stylesheet" href="~/style.css" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#318ec4" />
        <link rel="icon" type="image/svg" href="~/favicon.svg" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>