@{
    Layout = "_Layout";
}

<div class="login-form-fullscreen">
    <form class="login-form" method="post">
        <label for="password">Password:</label><br/>
        <input id="password" type="password" name="password"/>
        <input type="submit" value="Submit"/>
    </form>
</div>