@using ArtGalleryProxy
@inject ArtStore _artStore

<html>
    <head>
        <title>Ernest's private gallery</title>
        <link rel="stylesheet" href="style.css" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#318ec4" />
        <link rel="icon" type="image/svg" href="favicon.svg" />
        <script src="~/gallery.js" async></script>
    </head>
    <body>
        <h1>Gallery it is</h1>
        <div id="images-container">
            @foreach (var item in _artStore.Arts)
            {
                <img id="@(item.Name)" src="~/image/@(item.Name)/thumbnail" onclick="onImageClick(this)"/>
            }
        </div>
    </body>
</html>