@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins/Poppins-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins/Poppins-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

/*
italic fonts
*/
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins/Poppins-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 600;
}

html {
    background-color: black;
    font-family: 'Poppins';
    color: #40b9ff;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#images-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

img {
    border-style: solid;
    border-width: 0.1vw;
    border-color: #40b9ff;
}

.full-image-container {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

img.full-image {
    z-index: 101;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    height: auto;
}

.login-form-fullscreen {
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-form {
}

.login-form > label {
    font: 700 4vw Poppins;
}

.login-form > input {
    font: 600 3vw Poppins;
    text-align: center;
    background-color: rgb(0, 15, 29);
    color: inherit;
    border-radius: 0.1em;
    border-style: solid;
    border-color: while;
}